* {
  margin: 0;
  padding: 0;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;

  list-style: none;
  background-color: goldenrod;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 16px;
  color: #fff;
}

.navigation :hover {
  background-color: rgb(233, 184, 61);
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    flex-direction: column;
  }

  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgb(255, 255, 255, 0.3);
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
  }

  .navigation li:last-child a {
    border-bottom: none;
  }
}
